#cv-template{font-family: 'Times New Roman', Times, serif; font-size: 13pt; color: #333; padding: 40px;}
#cv-header{text-align: center; border-bottom: 2px solid #333; padding-bottom: 10px; margin-bottom: 15px; display: block;}
#cv-foto{width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin: 0 auto 10px; display: block;}
.hidden{display: none;}
#cv-desejado{font-size: 1.1em; font-style: italic; margin: 5px 0 0 0;}
#cv-contato{text-align: center; margin-bottom: 20px; font-size: 0.9em;}
.cv-detail:not(:last-child)::after{content: " | ";}
.cv-section{margin-bottom: 20px;}
#cv-nome {font-size: 2.0em; margin: 0;}
.cv-section-title{font-size: 1.5em; color: #000; border-bottom: 1px solid #333; padding-bottom: 5px; margin-bottom: 10px;}